<h2><%= @pin.title %> <a href="/pins/edit">(edit)</a></h2>

<h2>Edit Pin</h2>

<form action="/pins/<%= @pin.id %>" method="post">
 <input type="hidden" name="_method" value="put">

 <label for="pin[title]">Title:</label>
 <input name="pin[title]" value="<%= @pin.title %>">

 <label for="pin[image_url]">Image URL:</label>
 <input name="pin[image_url]" value="<%= @pin.image_url %>">

 <input type="submit" value="Create">
</form>

<form action="/pins/<%= @pin.id %>" method="post">
 <input type="hidden" name="_method" value="delete">
 <input class="button-delete" type="submit" value="Delete!">
</form>
